body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  background: #1e1e1e;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 111, 97, 0.2);
}

.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card .fw-bold {
  color: #00c2cb;
}

.card-text {
  color: #e0e0e0;
  font-size: 0.95rem;
  line-height: 1.4;
}

.card-title {
  color: #ffffff;
  font-weight: 600;
}

.card-category {
  color: #ff6f61;
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.card-body {
    color: #ffffff;
}

/*Snow*/

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.snowflake {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

/*santa-hat*/

.navbar-brand {
  position: relative;
  display: inline-block;
  font-size: 2em;
  padding-top: 18px;
  color: #fff;
  text-decoration: none;
}

.santa-hat {
  position: absolute;
  top: -10px; /* регулируй по высоте */
  left: -10px;  /* можно подвинуть ближе к первой букве */
  width: 50px;
  transform-origin: bottom center;
  transition: transform 0.3s ease;
  pointer-events: none; /* чтобы не мешала наведению */
}

.navbar-brand:hover .santa-hat {
  animation: wiggle 0.6s ease infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}



